*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
    body {
    font-family: 'Montserrat', sans-serif;
    color: #444;
    background-color: #eee;
    }
    
    header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    }
    
    header h1 {
    font-size: 32px;
    margin-bottom: 0;
    }
    
    main {
    padding: 20px;
    }
    
    main h2 {
    font-size: 24px;
    margin-bottom: 20px;
    }
    
    table {
    width: 100%;
    border-collapse: collapse;
    }
    
    th, td {
    border: 1px solid #333;
    padding: 10px;
    text-align: center;
    }
    
    th {
    background-color: #333;
    color: #fff;
    font-size: 18px;
    }
    
    td {
    font-size: 16px;
    }
    
    input[type="number"] {
    width: 50px;
    text-align: center;
    }
    
    button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-top: 20px;
    }
    
    button:hover {
    background-color: #444;
    }
    
    footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    }
    
    footer p {
    font-size: 14px;
    margin-bottom: 0;
    }
    
    
    
    